git-project-url: https://github.com/ebornier-pivotal/concourse-pcf-usage-report.git

pcf-api-endpoint: ((pcf-api-endpoint))  # FQDN OF PCF API ENDPOINT e.g. https://api.run.mydomain.com
pcf-apps-domain: ((pcf-apps-domain))    # THE DOMAIN WHICH THE USAGE API RUNS IN. For PCF 2.0+, use the PCF system domain in e.g. system.mydomain.com
pcf-sys-admin-user: ((pcf-sys-admin-user))  # PCF SYSTEM ADMIN USER ID
pcf-sys-admin-user-password: ((pcf-sys-admin-user-password))  # PCF SYSTEM ADMIN USER ID
pcf-deploy-name: ((pcf-usage-report-deploy-name)) # ID or label for the PCF deployment, avoid spaces in the string e.g. production
pcf-org: ((pcf-usage-report-org))
pcf-space: ((pcf-usage-report-space))


email-from: ((pcf-usage-report-email-from))   # your-email-address-with-host or sender email address
email-to: ((pcf-usage-report-email-to))  # the-list-of-recipients-to-send-notification-emails-to
